<div class="row">
  <div class="col">
    <h1>
      <%= @item.name %>
      <div class="float-right">
        <%= link_to 'Edit', edit_list_item_path(@list, @item), class: 'btn btn-outline-info' %>
      </div>
    </h1>

    <p>
      <%= @list.name %>
    </p>

    <p>
      <%= @item.description %>
    </p>

    <%= link_to 'Back', list_path(@list), class: 'btn btn-outline-info' %>
  </div>
</div>